main{
  min-height: 100px;
}

nav a{
  text-decoration: underline;
}

nav{
  display: inline-block;
  width: 80%;
  background-color: lightgrey;
}

nav h1{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: blue;
  font-size: 40px;
}


ul{
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.current{
  text-transform: uppercase;
  background-color: lightgrey;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  row-gap: 10px;
}

.grid img{
  width:  100%;
  position: relative;
}

#main_content{
  width: 80%;
  font-size: medium;
  background-color: yellow;
  font-family: sans-serif;
  font-style: oblique;
}

footer{
  background-color: lightgray;
  width: 80%;
}

.flex{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  
}

